<div class="row">
    <h1>Greeted</h1>

    <table>
        <tr>
            <td>name</td>
            <td>count</td>
        </tr>
        {{#each greetings}}
        <tr>
            <td>{{Names}}</td>
            <td>{{counter}}</td>

        </tr>
        {{/each}}
    </table>



</div>