<div class="row">
    <h1>Greeted Names</h1>

    <table>
        {{#each greetings}}
        <tr>
            <td><a href="/greetings/{{ greet_name}}">{{ greet_name}} </a></td>
        </tr>
        {{/each}}
    </table>
    <form action="/back-btn" method="POST">
        <input class="submBtn" type="submit" value="back" id="backBtn"><br><br>
    </form>
</div>