<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>

  <div class="row">
    <div class="col-12 ">
      {{!-- <img src="hello.jpg" class="picture" style="header"> --}}
      <div class="language">

        <h6>Greetings</h6>
        <form action="/addName" method="POST">
          Name:<br>

          <div class="error col-12">
            <h1> {{messages.error}}</h1>
          </div>
          <input type="text" value="" class="textName" placeholder="enter Name" name="firstname">
          <br>
          <input type="radio" class="radioBtn" name="taal" value="IsiXhosa"> IsiXhosa
          <input type="radio" class="radioBtn" name="taal" value="English"> English
          <input type="radio" class="radioBtn" name="taal" value="Afrikaans"> Afrikaans
          <input class="submBtn" type="submit" value="greet-Me" id="greetBtn"><br><br>
        </form>
        <div class="row">
          <div class="msg col-12">
            {{greetings}}
          </div>
          <div class="counter col-12">
            <a href="/greetings/counter">Names Greeted</a>
            {{counter}}
          </div>
          <form action="/reset" method="POST">
            <input class="submBtn" type="submit" value="reset" id="ResetBtn"><br><br></form>
        </div>
      </div>
    </div>
  </div>

  </div>
  <style>
    .header {
      font-size: 50px;
      background-image: url("/home/codex/projects/greetings/hello.webp");
      padding: 5em;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      text-align: center;
    }
  </style>
  <script>
    $(".textName").keyup(function (e) {
      var regex = /^[a-zA-Z]+$/;
      (regex.test(this.value) !== true) ? this.value = this.value.replace(/[^a-zA-Z]+/, '') : this.value
    });
  </script>
</body>

</html>